@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    height: 100vh;
    background: blueviolet;
    color: #fff;
    font-weight: 500;
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


a {
    color: #efefef;
}

